app/views/booking-flight.pug
extends layout/_layout--child-top
block variables
    - var isHeaderTrans = true;
    - var navbarTitle = 'Tìm chuyến bay';
    - var hasBgFlight = true;

block content 
    form.booking
        .booking-header
            .container
                .booking-search-place.py-3
                    .booking-search-controls.js-toggle-place
                        span
                        button.button.button-icon.rounded(type="button" data-depart="#input-depart-place" data-arrived="#input-arrived-place") 
                            span.ic-transfer
                        span.ic-pin
                    +input-group('light', 'Điểm khởi hành', 'VD: Hà Nội', 'Hà Nội', 'HAN', true)(id="input-depart-place" class="mb-4" data-toggle="modal" data-target="#modal-search-location" readonly)
                    +input-group('light', 'Điểm đến', 'VD: Thành phố Hồ Chí Minh', 'Thành phố Hồ Chí Minh', 'SGN', true)(id="input-arrived-place" readonly)
        .container.px-0
            .booking-body.content-overlay.js-min-height-offset 
                .d-flex.justify-content-center.mb-4
                    .toggle-switch.js-toggle-switch(data-toggle="buttons") 
                        .toggle-switch-wrapper
                            .toggle-item.btn
                                input#switch-one-way(type="radio" name="toggle-switch-flight" value="1 chiều")
                                label(for="switch-one-way" data-target="#col-date-arrived" aria-expanded="false" data-target-adaptive="#input-box-depart") 1 chiều
                            .toggle-item.btn.active
                                input#switch-rounded(type="radio" name="toggle-switch-flight" value="Khứ hồi" checked)
                                label(for="switch-rounded" data-target="#col-date-arrived" aria-expanded="true" data-target-adaptive="#input-box-depart") Khứ hồi
                        span.toggle-control
                .row.justify-content-sm-center.mb-4 
                    .col.col-sm-6 
                        .input-box(id="input-box-depart" data-toggle="modal" data-target="#modal-pick-date-round-trip") 
                            label.input-label Ngày đi 
                            span.input-text 20-10-2020
                            input(type="hidden" value="20-10-2020" name="input-date-depart")
                    .col(id="col-date-arrived") 
                        .input-box(id="input-box-arrived" data-toggle="modal" data-target="#modal-pick-date-round-trip") 
                            label.input-label Ngày về
                            span.input-text 25-10-2020
                            input(type="hidden" value="25-10-2020" name="input-date-arrived")
                +input-group(null, 'Hành khách', 'VD: 1 người lớn', '1 người lớn, 0 trẻ em, 0 em bé', null, true, 'ic-customer')(readonly data-toggle="modal" data-target="#modal-pick-customer")
                +input-group(null, 'Hạng ghế', 'VD: phổ thông', 'Phổ thông', null, true, 'ic-seat')(readonly data-toggle="modal" data-target="#modal-pick-seat" id="input-pick-seat")
                .mt-auto.mt-sm-0.pt-4.text-center
                    button.button.button-primary(type="submit") Tìm chuyến bay

dist/booking-flight.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>8Trip website - FE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Song Sang media">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property="og:url" content="https://8trip.vn">
    <meta property="og:type" content="website">
    <meta property="og:title" content="8Trip website - FE">
    <meta property="og:description" content="Your description">
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="apple-touch-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css?v=1599490246809">
  </head>
  <body class="bg-flight-dashed">
    <header>
      <nav class="navbar-top"> 
        <div class="container px-0 d-flex justify-content-center"> 
          <div class="navbar-left mr-auto"> <a class="button button-icon" href="/" role="button"><span class="ic-arrow-left"></span></a></div>
          <div class="navbar-center mx-auto">
            <h3>Tìm chuyến bay </h3>
          </div>
          <div class="navbar-right ml-auto"> 
          </div>
        </div>
      </nav>
    </header>
    <div class="body-wrapper">
      <form class="booking">
        <div class="booking-header">
          <div class="container">
            <div class="booking-search-place py-3">
              <div class="booking-search-controls js-toggle-place"><span></span>
                <button class="button button-icon rounded" type="button" data-depart="#input-depart-place" data-arrived="#input-arrived-place"> <span class="ic-transfer"></span></button><span class="ic-pin"></span>
              </div>
                  <div class="input-group light offset-left mb-4" readonly id="input-depart-place" data-toggle="modal" data-target="#modal-search-location"> 
                    <label class="input-label">Điểm khởi hành</label>
                    <input class="input-control" type="text" value="Hà Nội" placeholder="VD: Hà Nội" readonly><span class="input-suffix">HAN </span>
                  </div>
                  <div class="input-group light offset-left" readonly id="input-arrived-place"> 
                    <label class="input-label">Điểm đến</label>
                    <input class="input-control" type="text" value="Thành phố Hồ Chí Minh" placeholder="VD: Thành phố Hồ Chí Minh" readonly><span class="input-suffix">SGN </span>
                  </div>
            </div>
          </div>
        </div>
        <div class="container px-0">
          <div class="booking-body content-overlay js-min-height-offset"> 
            <div class="d-flex justify-content-center mb-4">
              <div class="toggle-switch js-toggle-switch" data-toggle="buttons"> 
                <div class="toggle-switch-wrapper">
                  <div class="toggle-item btn">
                    <input id="switch-one-way" type="radio" name="toggle-switch-flight" value="1 chiều">
                    <label for="switch-one-way" data-target="#col-date-arrived" aria-expanded="false" data-target-adaptive="#input-box-depart">1 chiều</label>
                  </div>
                  <div class="toggle-item btn active">
                    <input id="switch-rounded" type="radio" name="toggle-switch-flight" value="Khứ hồi" checked>
                    <label for="switch-rounded" data-target="#col-date-arrived" aria-expanded="true" data-target-adaptive="#input-box-depart">Khứ hồi</label>
                  </div>
                </div><span class="toggle-control"></span>
              </div>
            </div>
            <div class="row justify-content-sm-center mb-4"> 
              <div class="col col-sm-6"> 
                <div class="input-box" id="input-box-depart" data-toggle="modal" data-target="#modal-pick-date-round-trip"> 
                  <label class="input-label">Ngày đi </label><span class="input-text">20-10-2020</span>
                  <input type="hidden" value="20-10-2020" name="input-date-depart">
                </div>
              </div>
              <div class="col" id="col-date-arrived"> 
                <div class="input-box" id="input-box-arrived" data-toggle="modal" data-target="#modal-pick-date-round-trip"> 
                  <label class="input-label">Ngày về</label><span class="input-text">25-10-2020</span>
                  <input type="hidden" value="25-10-2020" name="input-date-arrived">
                </div>
              </div>
            </div>
                <div class="input-group  offset-left" readonly data-toggle="modal" data-target="#modal-pick-customer"> 
                  <label class="input-label">Hành khách</label>
                  <input class="input-control" type="text" value="1 người lớn, 0 trẻ em, 0 em bé" placeholder="VD: 1 người lớn" readonly><span class="input-suffix"> </span><span class="input-icon"> <span class="ic-customer"></span></span>
                </div>
                <div class="input-group  offset-left" readonly data-toggle="modal" data-target="#modal-pick-seat" id="input-pick-seat"> 
                  <label class="input-label">Hạng ghế</label>
                  <input class="input-control" type="text" value="Phổ thông" placeholder="VD: phổ thông" readonly><span class="input-suffix"> </span><span class="input-icon"> <span class="ic-seat"></span></span>
                </div>
            <div class="mt-auto mt-sm-0 pt-4 text-center">
              <button class="button button-primary" type="submit">Tìm chuyến bay</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal fade js-modal-pick-seat" id="modal-pick-seat" tabindex="-1"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <h3 class="modal-title">Chọn hạng ghế</h3>
          </div>
          <div class="modal-body"> 
            <div data-toggle="buttons"> 
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-1" checked value="Phổ thông">
                    <label class="radio-title">Phổ thông</label>
                    <p class="radio-subtitle">Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản của bạn </p>
                  </div>
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-2" value="Thương gia">
                    <label class="radio-title">Thương gia</label>
                    <p class="radio-subtitle">Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng </p>
                  </div>
                  <div class="radio-box btn"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-3" value="Hạng nhất">
                    <label class="radio-title">Hạng nhất</label>
                    <p class="radio-subtitle">Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hóa </p>
                  </div>
            </div>
          </div>
          <div class="modal-footer text-center mt-auto"> 
            <button class="button button-secondary close button-submit" type="button" data-dismiss="modal" aria-label="Close" data-control="#input-pick-seat">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-one-way" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-one-way"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-round-trip" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-round-trip"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-customer" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header px-3">
            <h3 class="modal-title">Thêm hành khách</h3>
          </div>
          <div class="modal-body">
            <div class="d-flex text-center">
              <div class="flex-grow-1">
                <h4 class="text-label">Người lớn</h4>
                <div class="text-sub">Trên 12 tuổi</div>
                    <div class="slider-select select-adult mt-4">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                          <div class="swiper-slide">6</div>
                          <div class="swiper-slide">7</div>
                          <div class="swiper-slide">8</div>
                          <div class="swiper-slide">9</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Trẻ em</h4>
                <div class="text-sub">Từ 2 - 12 tuổi</div>
                    <div class="slider-select mt-4 select-child">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Em bé</h4>
                <div class="text-sub">Dưới 2 tuổi</div>
                    <div class="slider-select mt-4 select-baby">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-3 d-flex justify-content-between">
            <button class="button button-secondary close button-submit button-mwidth" type="button" data-dismiss="modal" aria-label="Close" data-control="#modal-pick-customer">Xác nhận</button>
            <div class="button button-cancel close button-mwidth" data-dismiss="modal" aria-label="Close">Huỷ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-full-screen fade" id="modal-search-location" tabindex="-1">
      <div class="modal-dialog"> 
        <div class="modal-content"> 
          <button class="button-close"> <span class="ic-close"></span></button>
          <div class="modal-header pb-3"> 
            <h3 class="modal-title">Tìm điểm khởi hành</h3>
            <div class="input-search mt-3">
              <input class="input-control" type="text" placeholder="Nhập điểm khởi hành của bạn" area-results="#search-results" area-suggestion="#search-suggestion"><span class="input-icon"> <span class="ic-search"></span></span>
              <button class="delete"> <span class="ic-delete"></span></button>
            </div>
          </div>
          <div class="modal-body pt-0">
            <div id="search-results" style="display: none;"> 
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
              <div class="my-4 text-helper text-center">Result not found</div>
            </div>
            <div id="search-suggestion">
              <div class="mb-3"> 
                <h4>Tìm kiếm gần đây </h4>
                <div class="chip-group">
                      <label class="chip chip-outline">Hà Nội</label>
                      <label class="chip chip-outline">TP. Hồ Chí Minh</label>
                      <label class="chip chip-outline">Đà Nẵng</label>
                      <label class="chip chip-outline">Pleiku</label>
                      <label class="chip chip-outline">Rạch Giá</label>
                      <label class="chip chip-outline">Cần Thơ</label>
                      <label class="chip chip-outline">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Bắc</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Trung</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Nam</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Địa điểm phổ biến nước ngoài</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Bangkok</label>
                      <label class="chip chip-primary">Tokyo</label>
                      <label class="chip chip-primary">Seoul</label>
                      <label class="chip chip-primary">Hongkong</label>
                      <label class="chip chip-primary">Thượng Hải</label>
                      <label class="chip chip-primary">New Yourk</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var priceByDay = [
        {
          month: 8,
          year: 2020,
          prices: [
            {
              date: 1,
              price: '1.245k'
            },
            {
              date: 2,
              price: '3.329k'
            },
            {
              date: 24,
              price: '796k'
            },
          ]
        },
        {
          month: 9,
          year: 2020,
          prices: [
            {
              date: 4,
              price: '1.245k'
            },
            {
              date: 8,
              price: '3.329k'
            },
            {
              date: 10,
              price: '796k'
            },
          ]
        }
      ];
    </script>
    <script type="text/javascript" async src="assets/js/vendors.min.js"></script>
    <script type="text/javascript" async src="assets/js/main.min.js"></script>
  </body>
</html>
