dist/form-otp-error.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>8Trip website - FE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Song Sang media">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property="og:url" content="https://8trip.vn">
    <meta property="og:type" content="website">
    <meta property="og:title" content="8Trip website - FE">
    <meta property="og:description" content="Your description">
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="apple-touch-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css?v=1599490251746">
  </head>
  <body>
    <div class="body-wrapper">
      <section class="section-bg bg-reset js-min-height-offset" style="background-image: url('./assets/images/bg-2.jpg');"><a href="home.html"><img class="img-logo" src="./assets/images/logo.svg" alt=""></a>
        <div class="block-wrapper one-border high-body">
          <div class="container">
            <div class="text-sm">Mã xác thực đã được gửi tới số điện thoại</div>
            <div class="text-center pt-3 pb-5">
              <div class="text-phone">+84 927 958 1060</div>
            </div>
            <div class="text-sm text-smbold pb-3">Nhập mã</div>
            <form class="digit-group d-flex justify-content-center pb-5" data-autosubmit="false" autocomplete="off">
              <input type="text" id="digit-1" name="digit-1" data-next="digit-2">
              <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1">
              <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2">
              <input type="text" id="digit-4" name="digit-4" data-previous="digit-3">
            </form><a class="text-sm pt-4 text-center d-block" href="#">Không nhận được mã?</a>
            <div class="pt-2">
              <div class="button-countdown m-auto">Gửi lại mã trong 0:30</div>
            </div>
          </div>
          <div class="container text-center"><a class="text-sm" href="#">Số điện thoại bạn nhập chưa đúng?</a></div>
        </div>
      </section>
    </div>
    <div class="modal fade js-modal-pick-seat" id="modal-pick-seat" tabindex="-1"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <h3 class="modal-title">Chọn hạng ghế</h3>
          </div>
          <div class="modal-body"> 
            <div data-toggle="buttons"> 
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-1" checked value="Phổ thông">
                    <label class="radio-title">Phổ thông</label>
                    <p class="radio-subtitle">Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản của bạn </p>
                  </div>
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-2" value="Thương gia">
                    <label class="radio-title">Thương gia</label>
                    <p class="radio-subtitle">Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng </p>
                  </div>
                  <div class="radio-box btn"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-3" value="Hạng nhất">
                    <label class="radio-title">Hạng nhất</label>
                    <p class="radio-subtitle">Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hóa </p>
                  </div>
            </div>
          </div>
          <div class="modal-footer text-center mt-auto"> 
            <button class="button button-secondary close button-submit" type="button" data-dismiss="modal" aria-label="Close" data-control="#input-pick-seat">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-one-way" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-one-way"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-round-trip" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-round-trip"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-customer" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header px-3">
            <h3 class="modal-title">Thêm hành khách</h3>
          </div>
          <div class="modal-body">
            <div class="d-flex text-center">
              <div class="flex-grow-1">
                <h4 class="text-label">Người lớn</h4>
                <div class="text-sub">Trên 12 tuổi</div>
                    <div class="slider-select select-adult mt-4">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                          <div class="swiper-slide">6</div>
                          <div class="swiper-slide">7</div>
                          <div class="swiper-slide">8</div>
                          <div class="swiper-slide">9</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Trẻ em</h4>
                <div class="text-sub">Từ 2 - 12 tuổi</div>
                    <div class="slider-select mt-4 select-child">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Em bé</h4>
                <div class="text-sub">Dưới 2 tuổi</div>
                    <div class="slider-select mt-4 select-baby">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-3 d-flex justify-content-between">
            <button class="button button-secondary close button-submit button-mwidth" type="button" data-dismiss="modal" aria-label="Close" data-control="#modal-pick-customer">Xác nhận</button>
            <div class="button button-cancel close button-mwidth" data-dismiss="modal" aria-label="Close">Huỷ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-full-screen fade" id="modal-search-location" tabindex="-1">
      <div class="modal-dialog"> 
        <div class="modal-content"> 
          <button class="button-close"> <span class="ic-close"></span></button>
          <div class="modal-header pb-3"> 
            <h3 class="modal-title">Tìm điểm khởi hành</h3>
            <div class="input-search mt-3">
              <input class="input-control" type="text" placeholder="Nhập điểm khởi hành của bạn" area-results="#search-results" area-suggestion="#search-suggestion"><span class="input-icon"> <span class="ic-search"></span></span>
              <button class="delete"> <span class="ic-delete"></span></button>
            </div>
          </div>
          <div class="modal-body pt-0">
            <div id="search-results" style="display: none;"> 
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
              <div class="my-4 text-helper text-center">Result not found</div>
            </div>
            <div id="search-suggestion">
              <div class="mb-3"> 
                <h4>Tìm kiếm gần đây </h4>
                <div class="chip-group">
                      <label class="chip chip-outline">Hà Nội</label>
                      <label class="chip chip-outline">TP. Hồ Chí Minh</label>
                      <label class="chip chip-outline">Đà Nẵng</label>
                      <label class="chip chip-outline">Pleiku</label>
                      <label class="chip chip-outline">Rạch Giá</label>
                      <label class="chip chip-outline">Cần Thơ</label>
                      <label class="chip chip-outline">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Bắc</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Trung</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Nam</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Địa điểm phổ biến nước ngoài</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Bangkok</label>
                      <label class="chip chip-primary">Tokyo</label>
                      <label class="chip chip-primary">Seoul</label>
                      <label class="chip chip-primary">Hongkong</label>
                      <label class="chip chip-primary">Thượng Hải</label>
                      <label class="chip chip-primary">New Yourk</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var priceByDay = [
        {
          month: 8,
          year: 2020,
          prices: [
            {
              date: 1,
              price: '1.245k'
            },
            {
              date: 2,
              price: '3.329k'
            },
            {
              date: 24,
              price: '796k'
            },
          ]
        },
        {
          month: 9,
          year: 2020,
          prices: [
            {
              date: 4,
              price: '1.245k'
            },
            {
              date: 8,
              price: '3.329k'
            },
            {
              date: 10,
              price: '796k'
            },
          ]
        }
      ];
    </script>
    <script type="text/javascript" async src="assets/js/vendors.min.js"></script>
    <script type="text/javascript" async src="assets/js/main.min.js"></script>
  </body>
</html>

app/views/form-otp-error.pug
extends layout/_layout
block variables
    - var hasBgFlight = false;

block content
    section.section-bg(style="background-image: url('./assets/images/bg-2.jpg');").bg-reset.js-min-height-offset.section-otp
        a(href="home.html")
            img(src="./assets/images/logo.svg", alt="").img-logo
        .block-wrapper.one-border.high-body
            .container
                .text-sm Mã xác thực đã được gửi tới số điện thoại
                .text-center.pt-3.pb-5
                    .text-phone +84 927 958 1060
                .text-sm.text-smbold.pb-3 Nhập mã
                form.digit-group(data-autosubmit="false" autocomplete="off").pb-5
                    .d-flex.justify-content-center
                        input(type="number" min="0" max="9" id="digit-1" name="digit-1" data-next="digit-2").error
                        input(type="number" min="0" max="9" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1")
                        input(type="number" min="0" max="9" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2")
                        input(type="number" min="0" max="9" id="digit-4" name="digit-4" data-previous="digit-3")
                    .text-center.text-sm.pt-2 Mã bạn nhập không đúng
                a(href="#").text-sm.pt-4.text-center.d-block Không nhận được mã?
                .pt-2.mt-auto.text-center
                    button.button.button-primary(type="submit") Gửi lại mã
                
            .container.text-center.pt-4
                a(href="#").text-sm Số điện thoại bạn nhập chưa đúng?
