app/views/news-detail.pug
extends layout/_layout--child
block variables
  //- Variables
  - var navbarTitle = 'Tin tức du lịch';
  - var navbarIconRight = 'ic-search'
  
block content
  //- Content 
  section
    .img-fluid
      img(src='https://images.unsplash.com/photo-1506236506587-53051b4197be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80' alt="Banner news")
  section.py-4
    .container  
      h2 Khám phá du lịch Chiangmai
      .editor-content.pt-2
        h3 8Trip kính chào quý khách
        p 
          | Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. 
        p
          img(src="./assets/images/news-1.jpg", alt="")
        h3 1. Thu thập thông tin cá nhân
        p 
          | Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. 
        hr 
        h3 Heading 
        br
        h1 This is H1
        h2 This is H2 
        h3 This is H3
        h4 This is H4 
        h5 This is H5 
        h6 This is H6 
        hr
        h3 List
        ul 
          li List item 1
          li List item 2
          li List item 3
          li List item 4
          li List item 5
        ol 
          li List item 1
          li List item 2
            ol 
              li Item 1
              li Item 2
          li List item 3
          li List item 4
          li List item 5
        hr 
        h3 Table 
        p Default table not have any style, so just display border when table inside <code>.editor-content</code> 
        p If using table outside, use class <code>.table-border</code>.
        table
          tr
            th Company
            th Contact
            th Country
          tr
            td Alfreds Futterkiste
            td Maria Anders
            td Germany
          tr
            td Centro comercial Moctezuma
            td Francisco Chang
            td Mexico
          tr
            td Ernst Handel
            td Roland Mendel
            td Austria
          tr
            td Island Trading
            td Helen Bennett
            td UK
          tr
            td Laughing Bacchus Winecellars
            td Yoshi Tannamuri
            td Canada
          tr
            td Magazzini Alimentari Riuniti
            td Giovanni Rovelli
            td Italy

        
        

dist/news-detail.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <title>8Trip website - FE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Song Sang media">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property="og:url" content="https://8trip.vn">
    <meta property="og:type" content="website">
    <meta property="og:title" content="8Trip website - FE">
    <meta property="og:description" content="Your description">
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.png">
    <link rel="apple-touch-icon" href="./assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css?v=1599490256899">
  </head>
  <body class="has-navbar-bottom">
    <header class="header">
      <nav class="navbar-top"> 
        <div class="container px-0 d-flex justify-content-center"> 
          <div class="navbar-left mr-auto"> <a class="button button-icon" href="/" role="button"><span class="ic-arrow-left"></span></a></div>
          <div class="navbar-center mx-auto">
            <h3>Tin tức du lịch </h3>
          </div>
          <div class="navbar-right ml-auto"> 
            <button class="button button-icon" type="button"><span class="ic-search"></span></button>
          </div>
        </div>
      </nav>
    </header>
    <div class="body-wrapper">
      <section>
        <div class="img-fluid"><img src="https://images.unsplash.com/photo-1506236506587-53051b4197be?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2700&amp;q=80" alt="Banner news"></div>
      </section>
      <section class="py-4">
        <div class="container"> 
          <h2>Khám phá du lịch Chiangmai</h2>
          <div class="editor-content pt-2">
            <h3>8Trip kính chào quý khách</h3>
            <p>
               Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. </p>
            <p><img src="./assets/images/news-1.jpg" alt=""></p>
            <h3>1. Thu thập thông tin cá nhân</h3>
            <p>
               Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. </p>
            <hr>
            <h3>Heading </h3><br>
            <h1>This is H1</h1>
            <h2>This is H2 </h2>
            <h3>This is H3</h3>
            <h4>This is H4 </h4>
            <h5>This is H5 </h5>
            <h6>This is H6 </h6>
            <hr>
            <h3>List</h3>
            <ul> 
              <li>List item 1</li>
              <li>List item 2</li>
              <li>List item 3</li>
              <li>List item 4</li>
              <li>List item 5</li>
            </ul>
            <ol> 
              <li>List item 1</li>
              <li>List item 2
                <ol> 
                  <li>Item 1</li>
                  <li>Item 2</li>
                </ol>
              </li>
              <li>List item 3</li>
              <li>List item 4</li>
              <li>List item 5</li>
            </ol>
            <hr>
            <h3>Table </h3>
            <p>Default table not have any style, so just display border when table inside <code>.editor-content</code> </p>
            <p>If using table outside, use class <code>.table-border</code>.</p>
            <table>
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
    <nav class="navbar-bottom"> 
      <div class="container"> 
        <div class="d-flex justify-content-between"><a class="navbar-item is-active" href="#" title="Trang chủ">
                <div class="navbar-icon"> <span class="ic-home"></span></div>
                <div class="navbar-title"> <span>Trang chủ</span></div></a><a class="navbar-item" href="#" title="Vé của tôi">
                <div class="navbar-icon"> <span class="ic-ticket"></span></div>
                <div class="navbar-title"> <span>Vé của tôi</span></div></a><a class="navbar-item has-noti" href="#" title="Thông báo">
                <div class="navbar-icon"> <span class="ic-bell"></span></div>
                <div class="navbar-title"> <span>Thông báo</span></div></a><a class="navbar-item" href="#" title="Tôi">
                <div class="navbar-icon"> <span class="ic-user"></span></div>
                <div class="navbar-title"> <span>Tôi</span></div></a>
        </div>
      </div>
    </nav>
    <div class="modal fade js-modal-pick-seat" id="modal-pick-seat" tabindex="-1"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <h3 class="modal-title">Chọn hạng ghế</h3>
          </div>
          <div class="modal-body"> 
            <div data-toggle="buttons"> 
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-1" checked value="Phổ thông">
                    <label class="radio-title">Phổ thông</label>
                    <p class="radio-subtitle">Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản của bạn </p>
                  </div>
                  <div class="radio-box btn mb-3"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-2" value="Thương gia">
                    <label class="radio-title">Thương gia</label>
                    <p class="radio-subtitle">Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng </p>
                  </div>
                  <div class="radio-box btn"> 
                    <input type="radio" name="input-pick-seat" id="input-pick-seat-3" value="Hạng nhất">
                    <label class="radio-title">Hạng nhất</label>
                    <p class="radio-subtitle">Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hóa </p>
                  </div>
            </div>
          </div>
          <div class="modal-footer text-center mt-auto"> 
            <button class="button button-secondary close button-submit" type="button" data-dismiss="modal" aria-label="Close" data-control="#input-pick-seat">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-one-way" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-one-way"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-date-round-trip" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header"> 
            <h3 class="modal-title">Ngày đi</h3>
          </div>
          <div class="modal-body">
            <div id="date-booking-flight-round-trip"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-pick-customer" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content px-0">
          <div class="modal-header px-3">
            <h3 class="modal-title">Thêm hành khách</h3>
          </div>
          <div class="modal-body">
            <div class="d-flex text-center">
              <div class="flex-grow-1">
                <h4 class="text-label">Người lớn</h4>
                <div class="text-sub">Trên 12 tuổi</div>
                    <div class="slider-select select-adult mt-4">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                          <div class="swiper-slide">6</div>
                          <div class="swiper-slide">7</div>
                          <div class="swiper-slide">8</div>
                          <div class="swiper-slide">9</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Trẻ em</h4>
                <div class="text-sub">Từ 2 - 12 tuổi</div>
                    <div class="slider-select mt-4 select-child">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                          <div class="swiper-slide">3</div>
                          <div class="swiper-slide">4</div>
                          <div class="swiper-slide">5</div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="flex-grow-1">
                <h4 class="text-label">Em bé</h4>
                <div class="text-sub">Dưới 2 tuổi</div>
                    <div class="slider-select mt-4 select-baby">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">0</div>
                          <div class="swiper-slide">1</div>
                          <div class="swiper-slide">2</div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          <div class="modal-footer px-3 d-flex justify-content-between">
            <button class="button button-secondary close button-submit button-mwidth" type="button" data-dismiss="modal" aria-label="Close" data-control="#modal-pick-customer">Xác nhận</button>
            <div class="button button-cancel close button-mwidth" data-dismiss="modal" aria-label="Close">Huỷ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-full-screen fade" id="modal-search-location" tabindex="-1">
      <div class="modal-dialog"> 
        <div class="modal-content"> 
          <button class="button-close"> <span class="ic-close"></span></button>
          <div class="modal-header pb-3"> 
            <h3 class="modal-title">Tìm điểm khởi hành</h3>
            <div class="input-search mt-3">
              <input class="input-control" type="text" placeholder="Nhập điểm khởi hành của bạn" area-results="#search-results" area-suggestion="#search-suggestion"><span class="input-icon"> <span class="ic-search"></span></span>
              <button class="delete"> <span class="ic-delete"></span></button>
            </div>
          </div>
          <div class="modal-body pt-0">
            <div id="search-results" style="display: none;"> 
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
                  <div class="card-result">
                    <div class="card-body">
                      <h4>Hà Nội, Việt Nam</h4>
                      <p>Sân bay Nội Bài</p>
                    </div>
                    <div class="card-suffix"> <span>HAN</span></div>
                  </div>
              <div class="my-4 text-helper text-center">Result not found</div>
            </div>
            <div id="search-suggestion">
              <div class="mb-3"> 
                <h4>Tìm kiếm gần đây </h4>
                <div class="chip-group">
                      <label class="chip chip-outline">Hà Nội</label>
                      <label class="chip chip-outline">TP. Hồ Chí Minh</label>
                      <label class="chip chip-outline">Đà Nẵng</label>
                      <label class="chip chip-outline">Pleiku</label>
                      <label class="chip chip-outline">Rạch Giá</label>
                      <label class="chip chip-outline">Cần Thơ</label>
                      <label class="chip chip-outline">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Bắc</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Trung</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Miền Nam</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Hà Nội</label>
                      <label class="chip chip-primary">TP. Hồ Chí Minh</label>
                      <label class="chip chip-primary">Đà Nẵng</label>
                      <label class="chip chip-primary">Pleiku</label>
                      <label class="chip chip-primary">Rạch Giá</label>
                      <label class="chip chip-primary">Cần Thơ</label>
                      <label class="chip chip-primary">Côn Đảo</label>
                </div>
              </div>
              <div class="my-3"> 
                <h4>Địa điểm phổ biến nước ngoài</h4>
                <div class="chip-group">
                      <label class="chip chip-primary">Bangkok</label>
                      <label class="chip chip-primary">Tokyo</label>
                      <label class="chip chip-primary">Seoul</label>
                      <label class="chip chip-primary">Hongkong</label>
                      <label class="chip chip-primary">Thượng Hải</label>
                      <label class="chip chip-primary">New Yourk</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var priceByDay = [
        {
          month: 8,
          year: 2020,
          prices: [
            {
              date: 1,
              price: '1.245k'
            },
            {
              date: 2,
              price: '3.329k'
            },
            {
              date: 24,
              price: '796k'
            },
          ]
        },
        {
          month: 9,
          year: 2020,
          prices: [
            {
              date: 4,
              price: '1.245k'
            },
            {
              date: 8,
              price: '3.329k'
            },
            {
              date: 10,
              price: '796k'
            },
          ]
        }
      ];
    </script>
    <script type="text/javascript" async src="assets/js/vendors.min.js"></script>
    <script type="text/javascript" async src="assets/js/main.min.js"></script>
  </body>
</html>
